--extra-index-url https://download.pytorch.org/whl/cu113
torch==2.1.2
--extra-index-url https://download.pytorch.org/whl/cu113
torchvision==0.16.2
--extra-index-url https://download.pytorch.org/whl/cu113
torchaudio==2.1.2

transformers==4.36.2
peft==0.7.1
accelerate==0.25.0
ipykernel==6.29.0
hydra-core==1.2.0
higher==0.2.1
pandas==2.0.3
datasets==2.16.1
spacy==3.7.2
Pillow==10.2.0
matplotlib==3.7.4
protobuf==4.25.2
einops==0.7.0
wandb==0.16.2
bitsandbytes==0.42.0
sentencepiece==0.1.99
deepspeed==0.13.1